
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: lightblue;
  padding-top: 10vh;
  padding-left: 30vw;
  padding-right: 30vw;
}

.header-style{
  font-size: 25px;
  color: rgb(4, 78, 4);
  background-color:pink;
  text-align: center;
  font-weight: bold;
}

.picture div{
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  height: 300px;
  width: 250px;
  background-color: lightgray;
}

.picture div img{
  transition: transform 0.5s;
}

.picture div img:hover{
  transform: translateY(-8px);
  cursor: pointer;
}

picture div p{
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 0px;
}

/* style for the footer containing the images credit */
.footer-styles{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: black;
}

/* h3 style */
h3 {
  color:#053C5E;
  margin-bottom: 10px;
}

/* style for image */
img {
  display: block;
  margin: 10px auto;
  width: 250px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #003E1F;
}

a:active {
  color: forestgreen;
  background-color: yellow;
  font-size: 26px;
}

a:link {
  color:#a200ff;
  font-size: 18px;
  font-style: italic;
}

a:hover {
  color: #e7ff07;
  background-color: #a12fff;
  font-size: 24px;
  text-decoration-style: wavy;
  border-radius: 7px;
}

a:visited {
  color: aquamarine;
  font-size: 18px;
}

#buttons div {
flex-basis: 15vh;
}

.button {
  height: 100%;
  background-color: green;
  padding: 2vh;
  border-radius: 5vh;
  text-align: center;
  align-content: center;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
}

.button-imgs {
  background-color: green;
  padding: 2vh;
  border-radius: 5vh;
  width: 100%;
  text-align: center;
}
