body {
background-color: blueviolet;
justify-content: center;
align-items: center;


}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(231, 241, 80);
  color: rgb(14, 10, 224);
  font-size: 50px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-items: center;
  background-color: lightcoral;
  padding: 20px;
  border-radius: 10px;
  border-style: solid;
  
}

article {
  display: flebox;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: lightblue;
  padding: 20px;
  border-style: solid;
  border-radius: 10px;
}

#image1 {
display: flex;
justify-content: center;
height: 400px;
width: 400px;
border-style: solid;
border-width: 38px;
border-radius: 30px;

}

#image2 {
display: flex;
justify-content: center;
height: 300px;
width: 300px;
border-style: solid;
border-width: 55px;
border-radius: 30px;

}